*{
    margin: 0;
    padding: 0;
}
:root {
  --primary: #4f46a5;   /* Blue */
  --secondary: #FF6B00; /* Orange */
  --dark: #1E293B;
  --light: #FFFFFF;
  --gray: #F1F5F9;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: var(--primary);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    font-size: 30px;
    margin: 0;
}
.search{
    background-color: white;
    color: var(--primary);
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.search i{
    margin:5px;
}
.search input{
    border: none;
    padding: 5px;
    width: 250px;
}
.location-details i{
    color: white;
    font-size: 15px;
}
.location-details .main{
    font-size: 18px;
    color: var(--light);
    letter-spacing: 0.5px;
    font-weight: bold;
}
.location-details .sub{
    font-size: 14px;
    color: var(--gray);
    opacity: 0.8;
    margin-left: 5px;
}
.location-details i{
    font-size: 15px;
    margin: 0px 2px;
    position: relative;
}
.nav-item {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--light);
  padding: 5px 10px;
}
.nav-item.active {
  border-bottom: 3px solid orange;
  border-radius: 2px;
}
.nav-links{
    display: flex;
    gap: 30px;
}
.nav-links i{
    font-size: 16px;
}
#loginButton,#signUpButton{
    border: none;
    padding: 6px 20px;
    border-radius: 3px;
    margin: 0px 10px;
    font-size: 14px;
    background-color: var(--light);
    cursor: pointer;
}
#signUpButton{
    background-color: var(--secondary);
    color: white;
}
#loginButton:hover,#signUpButton:hover{
    transform: scale(1.04);
    transition: ease 0.25s;
}
#loginButton:hover{
    background-color: var(--gray);
}
#signUpButton:hover{
    background-color: #ff6a00d0;
}

/*-----------Loaction Pop-Up-------------*/
.location-popup{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 170px;
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 9;
}
.location-popup .detect{
    padding: 8px 15px;
    color: white;
    background-color: #FF6B00;
    border-radius: 3px;
    margin: 10px 0px;
    border: none;
}
.location-popup .setManually{
    display: flex;
    flex-direction: column;
}
.setManually input{
    padding: 8px;
    width: 220px;
    margin: 5px 0px;
    border-radius: 7px 7px 0px 0px;
    border: none;
    background-color: aliceblue;
}
.set{
    padding: 8px 15px;
    color: white;
    background-color: #FF6B00;
    border-radius: 0px 0px 7px 7px;
    margin: 0px 0px 10px 0px;
    border: none;
}
